// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    display: block;
    font-size: 18px;
    padding: 0.1em;
    min-width: 2em;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    color: #bdbdbd;
    font-weight: 700;

    & + & {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #092c37;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        // background-color: #092c37;
        // color: $color-main;
      }
    }

    &--active {
      background-color: #092c37;
      color: $color-main;
    }
  }
}
