// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $line-height;
  margin-bottom: $line-height;

  &__item {
    display: block;
    border-radius: 50%;
    padding: 0.35em 0.5em;
    font-weight: bold;
    font-size: 18px;
    min-width: 2.4em;
    // border: 1px solid $border-color;
    text-decoration: none;
    text-align: center;
    color: #bdbdbd;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {

      }
    }

    &--active {
      background-color: #092c37;
      color: $color-main;

      &:hover,
      &:focus {
        background-color: #092c37;
        color: $color-main;
      }
    }
  }

  &__arrow {
      padding: 0.5em 1em;
      display: flex;
      align-items: center;

      svg {
        fill: #092c37;
      }

      &:hover,
      &:focus {
        svg {
          fill: $color-main;
        }
      }
  }
}
