// В этом файле должны быть стили для БЭМ-блока filters, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filters {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: flex-start;

  &__item {

    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 0.6em;
    line-height: 1.4;
  }

  .field-select__select {
    font-size: 14px;
    height: 40px;
    padding: 0.3em 2em 0.3em 0.7em;
    background-position: right 0.7em center;
  }

}
