// В этом файле должны быть стили для БЭМ-блока page-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-contacts {

  $block-name:                &; // #{$block-name}__element

  &__item {
    margin-bottom: 15px;

    &--adds {
      padding-left: 25px;
      background-image: svg-load('../blocks/page-contacts/bg-img/map-icon.svg' , fill = #fff );
      background-repeat: no-repeat;
      background-size: 15px 20px;
    }

    &--phone {
      padding-left: 25px;
      background-image: svg-load('../blocks/page-contacts/bg-img/phone-icon.svg' , fill = #fff );
      background-repeat: no-repeat;
      background-size: 17px 20px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: $color-main;

    &:hover,
    &:focus {
      color: #797979;
    }
  }

  &--top {
    display: flex;
    justify-content: space-between;

    #{$block-name}__item {
      margin-left: 30px;
      margin-bottom: 0;

      &--adds {
        background-image: svg-load('../blocks/page-contacts/bg-img/map-icon.svg' , fill = #9ce7e8 );
      }

      &--phone {
        background-image: svg-load('../blocks/page-contacts/bg-img/phone-icon.svg' , fill = #9ce7e8 );
      }
    }
  }

}
