// В этом файле должны быть стили для БЭМ-блока page-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-contacts {

  $block-name:                &; // #{$block-name}__element

  &__item {
    margin-bottom: 15px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: $color-main;

    &:hover,
    &:focus {
      color: #797979;
    }
  }

  &--top {
    display: flex;
    justify-content: space-between;

    #{$block-name}__item {
      margin-left: 30px;
      margin-bottom: 0;
    }
  }

}
