// В этом файле должны быть стили для БЭМ-блока footer-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-nav {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.4em;
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.3em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
    }

  }

  &__sublist-wrapper {

    #{$block-name}__link {
      color: $color-main;
      text-transform: none;

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
    }
  }

}
